{% extends 'base.html' %}

{% block title %}Aurdeva
{% endblock title %}

{% block body %}
<style>
div.a {
    font-size: 70px;
    }
div.h {
    font-size: 80px;
    
}        
</style>

<div class="a">
  <b>#Aurveda</b>

</div>

<style>
      /* background-size: contain;
      background-repeat: no-repeat;
      backface-visibility: calc(50%);
      height: 100vh; */</style>



<style>



.parallax {
    position: relative;
}
</style>
<meta charset="uft-8">
<title>Tex p</title>


<style>
  *{
    padding: 0;
    margin: 0;}
     
  body{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #ffd6d8;
}
  .content-wrapper {
    width: 80%;
    margin: 4% 10% 5% 10%;
  }
  .content-wrapper img {
    width: 100%;
  }
  .text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -40%;
  }
  .text-wrapper h2 {
    text-align: start;
    color: #f80000;
    font-size: 10vw;
    font-family: 'Courier New', Courier, monospace;
  }
  .text-wrapper h4 {
    text-align: start;
    color: #ff6600;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
  }
</style>

<body>
  <div class="content-wrapper">
    <img src="https://images.unsplash.com/photo-1567183010795-fd7870bc2716?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8aGVyYnN8fHx8fHwxNjY1NDk3Mzk4&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080">
    <div class="text-wrapper">
      <h2><b>#Triphala</b></h2>
      <h4><b>Test-tube and animal studies show that triphala may reduce inflammation caused by arthritis, as well as prevent or limit the growth of certain types of cancer</b></h4>
    </div>  
  </div>
<div class="container">
<h2>Cardamom</h2>
<h5>Ayurvedic medicine since ancient times.

Research suggests that cardamom powder may help reduce blood pressure in people with elevated levels. There’s also evidence that inhaling cardamom essential oil may increase the uptake of oxygen into the lungs during exercise.
</h5></div>
</body>





 <div class="footer">
<section class="container-fluid">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Post your artical</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Post!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="/Article">One Click Doctor.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
{% endblock body %}