{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<style>
div.a {
    font-size: 70px;
    }
div.h {
    font-size: 40px;
    
}        
</style>

<div class="a">
  <b>#Herbs</b>

</div>
<div class="container-fluid">



<div style="color: rgb(104, 151, 15);" class="container-fluid">
    <h3><b>There are many usefull herbs present in india. </b></h3>
</div>
<div style="color: rgb(104, 151, 15);">
    <h3><b>Some of them are- </b></h3>
</div>
<div style="color: rgb(180, 114, 241);" class="h">
    <b>!Turmeric-
 </b>
</div>
<div style="color: rgb(53, 136, 192);" class="h">
    <b>        !Tulsi-
 </b>
</div>
<div style="color: rgb(240, 125, 255);" class="h">
    <b>    !Alove vera-
 </b>
</div>
<div style="color: rgb(0, 197, 247);" class="h">
    <b>!Giloy-
 </b>
</div>

<div class="container border rounded">
<div style="color: rgb(180, 114, 241);" class="h">
    <b>Turmeric-
 </b>
</div>
<div class="h4">
    Oxidative damage is believed to be one of the mechanisms behind aging and many diseases.

It involves free radicals, highly reactive molecules with unpaired electrons. Free radicals tend to react with important organic substances, such as fatty acids, proteins, or DNA.

The main reason antioxidants are so beneficial is that they protect your body from free radicals.
</div>

</div>

<div class="container border rounded">
<div style="color: rgb(53, 136, 192);" class="h">
    <b>        Tulsi-
 </b>
</div>
<div class="h4">
    Tulsi has also been shown to counter metabolic stress through normalization of blood glucose, blood pressure and lipid levels, and psychological stress through positive effects on memory and cognitive function and through its anxiolytic and anti-depressant properties.
</div></div>


<div class="container border rounded">
<div style="color: rgb(240, 125, 255);" class="h">
    <b>    Alove vera-
 </b>
</div>
<div class="h4">
    Aloe Vera gel has vitamin C and E, beta-carotene in abundance. Therefore, it has anti-ageing properties. It also contains antimicrobial properties and is anti-inflammatory. It also helps to eradicate skin blemishes and diminish age lines. Additionally, it helps to increase the production of collagen in the body and skin elasticity.
</div></div>

<div class="container border rounded">
<div style="color: rgb(0, 197, 247);" class="h">
    <b>Giloy-
 </b>
</div>
<div class="h4">
    Tinospora cordifolia or Giloy has been preferred traditionally to treat ailments such as bronchitis and chronic cough. Due to its powerful anti-inflammatory and antioxidant properties it pacifies the mucous membrane of the respiratory system thereby making it very effective in respiratory issues like asthma, cough, cold and tonsils.
</div></div>


 <div class="footer">
<section class="container-fluid">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Post your artical</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Post!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="/Article">One Click Doctor.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>


</div>







{% endblock body %}
 