{% extends 'base.html' %}
{% block body %}
<div class="contaniner-fluid">
    
    <head><style>
div.a {
    font-size: 70px;
    }
div.h {
    font-size: 80px;
    
}        
</style>
<body>       
    <div class="h"><b>Know Remedies</b></div>
    <div class="a" style="color:blue">#Garlic!</div></div>
    <h3 style="color:rgb(0, 255, 128)"> The reason and the information</h3>
    <div class="container-fluid border rounded">
    <h4 style="color:rgb(72, 0, 100)"> Garlic contains
     a bioactive compound called allicin
     that is thought to contribute to this effect. The cholesterol-lowering effects add to the other reported benefits of garlic, including improved immunity, reduced 
    blood pressure, and antioxidant properties.</h4>
    </div>
    
</div>
</body>



{% endblock body %}